
.myData{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    background-color: darkgray;
    
    
}
.myData-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:darkgray;
    width: 100%;
    margin: 10px 0px;
    
}
img{
    width: 300px;
    
}
.myData-box >p{
    width: 300px;
    border: 1px solid;
    margin: 5px;
    border-radius: 10px;
    font-style: oblique;
    padding: 2px;
}
