.myData{
    min-height: 969px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: rgb(173, 182, 187);
    border: 0.5px solid rgb(37, 34, 34);
    border-bottom: none;
    margin: 10px 10px 0px 10px;
    border-radius: 25px 25px 0px 0px;
   
}
.myData-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:rgb(173, 182, 187);
    margin: 10px 0px;  
    width: 350px;
}
img{
    width: 300px;
    
}
.myData-box >p{
    width: 300px;
    margin: 20px 0px;
    font-style:inherit;
    border-bottom: 0.5px solid rgb(37, 34, 34);
    padding-bottom: 10px;
}
