body{
  background-color:  rgb(203, 197, 189);
}
.app {
  text-align: center;
  
}
.container {
  display: flex;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 350px;
}
.nav{
  width: 100%;
}
/* .div-nav{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
} */