html,body{
  height: 100%;
  background: -webkit-linear-gradient(90deg, rgb(212, 212, 160) 10%, rgb(158, 156, 151) 90%);
  background: -moz-linear-gradient(90deg, rgb(212, 212, 160) 10%, rgb(158, 156, 151) 90%);
  background: -ms-linear-gradient(90deg, rgb(212, 212, 160) 10%, rgb(158, 156, 151) 90%);
  background: -o-linear-gradient(90deg, rgb(212, 212, 160) 10%, rgb(158, 156, 151) 90%);
  background: linear-gradient(90deg, rgb(212, 212, 160) 10%, rgb(158, 156, 151) 90%);
}
.app {
  text-align: center;
  
}
.container {
  display: flex;
  height: 100%;
  position: relative;
  justify-content: space-around;

}
.aside{
  display: flex;
  height: 100%;
  flex-direction: column;
}
.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.home{
  height: 850px;
  display: flex;
  justify-content: center;
  align-items:center;
}