.app {
  text-align:center;
}
.aside{
  width: 400px;
  position: sticky;
}
.container{
  display: flex;
}
.main{
  display: flex;
  justify-content: center;
  width: 100%;
  /* flex-direction: column; */
}
.nav{
  width: 100%;
  
  
}

